@font-face {
  font-family: jalitta;
  src: url(Jalitta.ttf);
}


@font-face {
  font-family: albert;
  src: url(Albertsthal\ Typewriter.ttf);
}

#container-inicial{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}

#content {
  font-family: jalitta;
  color: #460405;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#content h2{
  font-size: 50px;
}


body {
    background-color: white;
    overflow-x: hidden;
}

.jalitta {
  font-family: jalitta;
  color: #460405;
  margin-bottom: 30px;
}

.albert {
  font-family: albert;
  color: #460405;
}

#countdown {
  font-family: albert;
  text-align: center;
  padding-top: 50px;
  color: #460405;
  padding-bottom: 50px;
  /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1); */
}

#countdown h2{
  
}

#celebration {
    text-align: center;
    padding-top: 50px;
    color: gray;
    /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1); */
  }

  #us {
    text-align: center;
    padding-top: 50px;
    color: gray;
    /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1); */
  }

  ul{
      margin: auto;
  }

  #gifts {
    text-align: center;
    padding-top: 50px;
    color: #460405;
    padding-bottom: 50px;
    /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1); */
  }

  .spacer {
      height: 50px;
      width: 100%;
  }

  #playlist {
    text-align: center;
    padding-top: 50px;
    color: gray;
    padding-bottom: 50px;
    /* text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1); */
  }


  #map-frame {
      width: 80%;
  }

.counter {
    text-align: center;
    background-color: #677B8C;
    color: white;
    width: 50%;
    margin-left: 25%;
}

hr {
    width: 80%;
    color: #460405;
}

#body {
  /* background: url(BannerMatri.png); */
  /* background-size: auto;
  background-position: center; */
  font-family: Lato, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 5em;
}


html {
  height: 100%;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mirror {
  transform: scaleX(-1);
}